@media screen and (min-width: 992px){ 

    :root {
        --title: hsl(220, 13%, 13%);
        --text:  hsl(219, 9%, 45%);
        --cinza-claro: hsl(220, 14%, 75%);
        --white: hsl(223, 64%, 98%);
        --black: hsl(0, 0%, 0%);
    }

    header {
        padding: 35px 120px 0px 120px;
    }
    
    #burguer {
        display: none;
    }

    #avatar {
        width: 50px;
        height: 50px;
        order: 3;
    }  

    #aba-top {
        padding: 0 0 35px 0;
        border-bottom: 1px solid hsl(220, 14%, 75%);
    }

    #container-log-bug {
        width: 200px;
    }

    #container-cart-a {
        flex: 1;
        gap: 45px;
    }

    #navigation-desk {
        display: inherit;
    }

    #navigation-desk ul {
        display: flex;
        gap: 25px;

        list-style-type: none;
    }

    #navigation-desk a {
        transition: 2s ease;
        color: var(--cinza-claro);
        font-weight: 700;
        text-decoration: none;
    }

    #navigation-desk a::before {
        content: '';
        width: 0;
        height: 0;
        color: black;
    }

    #navigation-desk a:hover {
        background-color: white;
        width: 2px;
        height: 2px;
    }
}