@media screen and (min-width: 992px){ 

    :root {
        --title: hsl(220, 13%, 13%);
        --text:  hsl(219, 9%, 45%);
        --cinza-claro: hsl(220, 14%, 75%);
        --white: hsl(223, 64%, 98%);
        --black: hsl(0, 0%, 0%);
    }

    body {
        display: flex;
        flex-direction: column;
    }

    header {
        padding: 35px 120px 0px 120px;
    }
    
    #burguer {
        display: none;
    }

    #avatar {
        width: 50px;
        height: 50px;
        order: 3;
    }  

    #aba-top {
        padding: 0 0 35px 0;
        border-bottom: 1px solid hsla(220, 14%, 75%, 0.178);
        max-width: 1200px;
        margin: auto;
    }

    #container-log-bug {
        width: 200px;
    }

    #container-cart-a {
        flex: 1;
        gap: 45px;
    }

    #navigation-desk {
        display: inherit;
    }

    #navigation-desk ul {
        display: flex;
        gap: 25px;

        list-style-type: none;
    }

    #navigation-desk a {
        color: var(--cinza-claro);
        text-decoration: none;
        transition: .3s linear;
    }

    #navigation-desk a:hover {
        color: var(--title);
    }

    #navigation-desk a::after {
        position: relative;
        bottom: -48px;
        content: '';
        width: 0;
        display: block;
        height: 3px;
        margin: auto;
        background-color: #ff7e1bb9;
        transition: width .3s linear;
    }

    #navigation-desk a:hover::after {
        width: 100%;
    }

    #cart-itens {
        top: 70px;
        right: -80px;
    }

    .cart-valor {
        position: absolute;
        right: 87px;
        top:8px;
    }

    main {
        display: grid;
        grid-template-areas: 'produto descricao';
        justify-content: center;
        align-items: center;
    }

    .slider {
        display: none;
    }

    #produtos {
        grid-area: produto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 100px;
    }

    #produtos #amostra {
        border-radius: 15px;
        width: 530px;
        height: 530px;
        cursor: pointer;
    }

    #container-imagens {
        display: flex;
        justify-content: space-between;
    }

    #container-imagens .imagens {
        width: 100px;
        height: 100px;
        margin-top: 35px;
        border-radius: 10px;
        cursor: pointer;
        transition: .3s ease;
    }

    #container-imagens .imagens:hover {
        opacity: 70%;
    }

    #container-imagens .imagens.active {
        border: 1px solid black;
    }

    .overlay {
        z-index: 0;
    }

    #modal {
        margin: auto;
        width: 800px;
        border: none;
        outline: none;
        background-color: transparent;
    }

    #modal::backdrop {
        background-color: rgba(0, 0, 0, 0.664);
    }

    #modal div:nth-child(1) {
        margin: auto;
        width: 580px;
        position: relative;
    }


    #modal #amostra-modal {
        width: 100%;
        border-radius: 10px;
    }

    #modal .close-btn-modal {
        position: absolute;
        right: 0;
        top: -30px;
        filter: invert(400%) sepia(230%) saturate(100%) hue-rotate(-300deg);
        width: 16px;
        cursor: pointer;
    }

    #modal #produtos-modal {
        width: 480px;
        margin: 30px auto 0;
        display: flex;
        justify-content: space-between;
    }

    #modal #produtos-modal img {
        width: 90px;
        height: 90px;
        border-radius: 10px;
    } 

    #cont {
        grid-area: descricao;
        padding: 0;
        max-width: 438px;
        margin-top: 40px;
    }

    #title {
        font-size: 42px;
        margin-bottom: 25px;
    }

    #text {
        font-size: 16px;
        margin-bottom: 15px;
    }

    #prices {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #new-price {
        font-size: 30px;
    }

    #old-price {
        display: block;
        margin-top: 20px;
    }

    #buttons-final {
        display: flex;
        align-items: center;
        margin-top: 30px;
        gap: 13px;
    }

    #buttons-final #add-cart {
        margin-top: 0;
        font-size: 16px;
    }

    #qtd-product {
        background-color: whitesmoke;
        width: 260px;
        gap: 42px;
        padding: 17px 0px;
    }

}

@media screen and (min-width: 992px) and (max-width:1387px){
    main {
        gap: 40px;
    }
}

@media screen and (min-width: 1388px){
    main {
        gap: 140px;
    }
}
