@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

:root {
    --title: hsl(220, 13%, 13%);
    --text:  hsl(219, 9%, 45%);
    --cinza-claro: hsl(220, 14%, 75%);
    --d: hsl(223, 64%, 98%);
    --c: hsl(0, 0%, 0%);
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    padding: 20px 28px;

    position: relative;
}

#menu {
    background-color: white;
    
    width: 0;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    list-style-type: none;

    overflow: hidden;
    visibility: hidden;
    transition: .6s ease;
}

#menu.abrir {
    width: 250px;
    visibility: visible;
}


#menu img {
    margin-bottom: 40px;
    cursor: pointer;
    padding: 3px;
    margin-top: 25px;
    margin-left: 25px;
}

#menu li {
    margin-bottom: 23px;
    padding: 0px 0px 0px 25px;
}

#menu li a {
    text-decoration: none;
    color: var(--title);
    font-weight: 700;
}

#logo-burguer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 50%;
}

#cart-avat {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 23px;
    width: 50%;
}

#menu-burguer img {
    margin-top: 5px;
    height: 15px;
}

#avatar img{
    width: 25px;
    height: 25px;
}
/* CONTEÚDO  */

main {
    display: grid;
    grid-template-areas: 
    'produtos'
    'conteudo';
}


#produtos {
    position: relative;
    grid-area: produtos;
    min-height: 375px;
} 

#produtos img {
    width: 100%;
    height: 100%;
}

.icons {
    cursor: pointer;
}


#produtos #icon-voltar {
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 34px;
    height: 34px;

    padding: 13px;
    border-radius: 50%;
}

#produtos #icon-avancar {
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: .1px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 34px;
    height: 34px;

    padding: 13px;
    border-radius: 50%;
} 

/* CONTEUDO COMPLETO */


#conteudo {
    grid-area: conteudo;
    padding:  20px 30px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#mini-title {
    color: var(--text);
    letter-spacing: 1px;
    font-size: 16px;
}

#title {
    color: var(--title);
}

#text {
    color: var(--text);
    text-align: left;
    line-height: 24px;
    font-size: 14px;
}

/* PREÇOS */

#price {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#price #left {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#price #right {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#price #new-price {
    font-size: 25px;
}


#price #desconto  {
    background-color: var(--title);
    color: white;
    padding: 3px 9px;
    border-radius: 6px;
}

#old-price {
    color: var(--text);
    font-size: 16px;
}

#quantia {
    background-color: rgba(67, 177, 240, 0.103);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;

    padding: 11px;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 700;
}

#quantia img {
    padding: 7px;
}

/* BUTTON ADICIONAR */

#btn-add {
    background-color: #FF7E1B;
    border-radius: 10px;
    border: none;
    padding: 16px;
    cursor: pointer;
    transition: ease-in-out .5s;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-weight: 700;
    color: var(--title);

    box-shadow:  16px 16px 51px #ff7e1b59;
}

#btn-add:hover {
    background-color: #ff7e1ba6;
}

#btn-add img {
    width: 15px;
    height: 15px;
    color: var(--title);
}