@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

:root {
    --title: hsl(220, 13%, 13%);
    --text:  hsl(219, 9%, 45%);
    --cinza-claro: hsl(220, 14%, 75%);
    --white: hsl(223, 64%, 98%);
    --black: hsl(0, 0%, 0%);
}

#navigation {
    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    width: 0;
    height: 100vh;
    overflow: hidden;
    visibility: hidden;
    transition: .5s ease;
}

#navigation-desk {
    display: none;
}

#navigation.abrir {
    width: 247px;
    visibility: visible;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.541);
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    visibility: hidden;
}

#navigation li {
    font-weight: 700;
    padding: 13px 20px;
}
#navigation img {
    margin: 20px 0px 40px 20px;
    padding: 2px;
    cursor: pointer;
}

#navigation a {
    text-decoration: none;
    color: var(--title);
}

#aba-top {
    display: flex;
    align-items: center;
    
    position: relative;

    padding: 22px 24px;
}

#container-log-bug,
#container-cart-a  {
    width: 50%;
}

#container-log-bug {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

#container-cart-a {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
}

#burguer {
    margin-top: 2px;
    cursor: pointer;
}

#cart {
    cursor: pointer;
}

#cart-itens {
    background-color: white;

    position: absolute;
    top: 80px;
    right: 9px;
    z-index: 2;

    display: flex;
    flex-direction: column;

    width: 358px;
    height: 0;

    box-shadow: 0px 11px 16px 5px rgba(0, 0, 0, 0.068);
    border-radius: 10px;
    visibility: hidden;
    overflow: hidden;
    transition: .5s ease;
}

#cart-itens.aberto {
    visibility: visible;
    height: 240px;
}

#cart-itens h4 {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
    font-weight: 700;
    color: var(--title);
}

#content-cart-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#content-cart-empty p {
    color: var(--text);
    font-weight: 700;
}

#content-cart-full {
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 13px;
    flex: 1;
    padding: 10px;
    display: none;
}

.valor {
    color: var(--text);   
}

.price {
    font-weight: 700;
    color: var(--title);
}

#delete {
    cursor: pointer;
}

#texts :nth-child(2) {
    margin-top: 6px;
}

#content-cart-full :nth-child(1){
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.cart-valor {
    position: absolute;
    right: 66px;
    top: 18px;
    z-index: 1;

    width: 22px; 
    text-align: center;
    padding: 1px 0px 1px 0px;
    background-color: #FF7E1B;
    font-size: 10px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    visibility: hidden;
}

#btn-check {
    background-color: #f77626;
    color: var(--title);
    padding: 15px;
    width: 300px;
    margin: auto auto 30px auto;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    display: none;
}

#avatar {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* MAIN */

#produtos {
    display: none;
}

.slider {
    position: relative;
    min-width: 375px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform .5s ease-in-out;
}

.slide {
    width: 100%;
    box-sizing: border-box;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev img,
.next img {
    height: 10px;
    width: 8px;
}

#cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    padding: 20px;
}

#mini-title {
    color: var(--text);
    letter-spacing: 2px;
}

#title {
    font-weight: 700;
    color: var(--title);
}

#text {
    font-size: 15px;
    color: var(--text);
    line-height: 24px;
}

#prices {
    display: flex;
    align-items: center;
}

#new-price,
#old-price {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;

    font-weight: 700;
}

#new-price {
    justify-content: start;
    font-size: 25px;
    color: var(--title);
}

#old-price {
    justify-content: end;
    color: var(--text);
}

#desconto {
    background-color: var(--title);
    padding: 4px 9px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
}

#qtd-product,
#add-cart {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border: none;
    font-weight: 700;
}

#qtd-product {
    background-color: rgba(230, 226, 226, 0.603);
    gap: 120px;
    padding: 14px;
}

#qtd-product img {
    padding: 3px;
    cursor: pointer;
}

#add-cart {
    background-color: #FF7E1B;
    box-shadow: 0px 4px 12px 5px #ff7e1b59;
    gap: 15px;
    cursor: pointer;
    padding: 16px;
    transition: .5s ease;
}

#add-cart:hover {
    background-color: #ff7e1bb9;
}